@import "transitions.scss";

header {
  h1 {
    position: relative;
    left: -50px;
    animation: fadein 1s, fromleft 1s forwards;

    a {
      text-decoration: none;
      color: inherit;

      &:hover, &:active, &:visited {
        text-decoration: none;
        color: inherit;
      }
    }
  }
}