$nav-margins: -30px;
$ribbon-position: -3em;

#mainNavigation {
  background: $primary-color;
  margin: 0 $nav-margins 0 $nav-margins;
  border-radius: 0;
  border: 0;

  a {
    color: $font-color;
  }

  &:after, &:before {
    content: "";
    position: absolute;
    display: block;
    border: 1.5em solid $secondary-color;
    z-index: -1;
    bottom: $ribbon-position;
  }

  &:after {
    right: 0;
    border-left-width: 1.5em;
    border-right-color: transparent;
    border-bottom-color: transparent;
  }

  &:before {
    left: 0;
    border-right-width: 1.5em;
    border-left-color: transparent;
    border-bottom-color: transparent;
  }
}