#mainNavigation {
  background: $primary-color;
  margin: 0 -2em 0 -2em;
  border-radius: 0;
  border: 0;

  a {
    color: $font-color;
    transition: font-size .5s;
    &:hover {
      font-size: 1.1em;
    }
  }

  &:after, &:before {
    content: "";
    position: absolute;
    display: block;
    border: .5em solid $secondary-color;
    z-index: -1;
    bottom: -1em;
  }

  &:after {
    right: 0;
    border-left-width: .5em;
    border-right-color: transparent;
    border-bottom-color: transparent;
  }

  &:before {
    left: 0;
    border-right-width: .5em;
    border-left-color: transparent;
    border-bottom-color: transparent;
  }
}