$nav-margins: -30px;
$ribbon-position: -42px;

#mainNavigation {
  background: $secondary-color;
  margin: 0 $nav-margins 0 $nav-margins;
  border-radius: 0;
  border: 0px;

  //box-shadow: $primary-color 1px 1px 1px;

  border-color: $tertiary-color;
  a {
    color: $header-color;
  }

  &:after, &:before {
    content: "";
    position: absolute;
    display: block;
    bottom: -1em;
    border: 1.5em solid $tertiary-color;
    z-index: -1;
  }

  &:after {
    right: 0;
    bottom: $ribbon-position;
    border-left-width: 1.5em;
    border-right-color: transparent;
    border-bottom-color: transparent;
  }

  &:before {
    left: 0;
    bottom: $ribbon-position;
    border-right-width: 1.5em;
    border-left-color: transparent;
    border-bottom-color: transparent;
  }
}