$background-color: #494949;
$secondary-background-color: #666;
$footer-background-color: #888;

$primary-color: #139696;
$secondary-color: #5BB;
$tertiary-color: #027C7C;
$quadrinary-color: #006262;
$border-color: #444;

$font-color: #ddd;
$secondary-font-color: #CCC;
$header-color: #eee;

$header-padding: 15px;

// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "components/bootstrap_overrides.scss";

// FontAwesome
@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";

@import "components/header.scss";
@import "components/navigation.scss";
@import "components/footer.scss";


body {
  background: #111;
  color: $font-color;
  display: flex;
  flex-direction: column;
}

body, html {
  min-height: 100%;
}

#body-content {
  background: $background-color;
  flex: 1;
}